docker.enabled = true
process.container = 'lifebitai/participant_data_pipeline:latest'

params {
  participant_id= false
  gene = false
  rmarkdown = "$baseDir/bin/participant_data_pipeline_report.Rmd"
  phenotypic_file = "s3://coding-files-gel/tactical-solution/COVID_data_synthetic.tsv"
  genotypic_file = "s3://coding-files-gel/tactical-solution/tiering_data.tsv"
  dictionary_file = "s3://coding-files-gel/tactical-solution/dictionary.tsv"
  outdir = 'results'
}
